.navbar {
    background-color: #231f20;
}

.logo {
    width: 200px;
    padding: 10px;
}

.icon {
    height: 1.5em;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    color: white;
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    font-size: 1.25em;
}
  
li a:hover {
    color: #ffc629;
}
  